* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #E5E9E8;
  height: 100vh;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  background-color: #E5E9E8;
}
header nav .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .logoContainer span {
  margin-top: 5px;
  font-weight: 500;
  font-size: 17px;
}
header nav .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .options a {
  text-decoration: none;
  color: #030303;
}
header nav .options a:hover {
  text-decoration: underline;
}
header nav .options form {
  margin-left: 15px;
}
header nav .options form label {
  position: absolute;
  left: -99999px;
}
header nav .options form select {
  border: none;
  background-color: transparent;
  font-size: 16px;
}
header nav .options form select:focus {
  border: 1px solid #030303;
}
header nav .searchElement {
  background-color: transparent;
  width: 200px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -150px;
}
header nav .searchElement svg {
  margin-left: 10px;
}
header nav .searchElement label {
  position: absolute;
  left: -99999px;
}
header nav .searchElement input {
  border: none;
  background-color: transparent;
  padding: 5px;
}
header nav .searchElement input::-webkit-input-placeholder {
  font-size: 14px;
  color: #030303;
}
header nav .searchElement input::-moz-placeholder {
  font-size: 14px;
  color: #030303;
}
header nav .searchElement input:-ms-input-placeholder {
  font-size: 14px;
  color: #030303;
}
header nav .searchElement input::-ms-input-placeholder {
  font-size: 14px;
  color: #030303;
}
header nav .searchElement input::placeholder {
  font-size: 14px;
  color: #030303;
}
header nav .languagesForm label {
  position: absolute;
  left: -99999px;
}
header nav .languagesForm select {
  border: none;
  background-color: transparent;
  font-size: 16px;
}
header nav .languagesForm select:focus {
  border: 1px solid #030303;
}
header .containerHeader {
  margin: 0 auto;
  width: 85%;
  height: 85%;
}
header .containerHeader .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
  height: 50%;
  float: left;
  margin-top: -30px;
  position: relative;
  -webkit-animation: leftIcons;
          animation: leftIcons;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes leftIcons {
  0% {
    left: -600px;
  }
  100% {
    left: 0;
  }
}
@keyframes leftIcons {
  0% {
    left: -600px;
  }
  100% {
    left: 0;
  }
}
header .containerHeader .socialIcons svg {
  padding: 10px;
  width: "2em";
  height: "2em";
}
header .containerHeader .descriptionSection {
  margin-left: 250px;
  width: 45%;
  margin-top: 120px;
  position: relative;
  -webkit-animation: fromLeft;
          animation: fromLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes fromLeft {
  0% {
    left: -600px;
  }
  100% {
    left: 0;
  }
}
@keyframes fromLeft {
  0% {
    left: -600px;
  }
  100% {
    left: 0;
  }
}
header .containerHeader .descriptionSection h1 {
  font-size: 40px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}
header .containerHeader .descriptionSection p {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 100;
}
header .containerHeader .descriptionSection .exploreButton {
  margin-top: 20px;
  border: none;
  background-color: #f8d377;
  padding: 15px;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
header .containerHeader .arrowButtons {
  width: 100px;
  margin-left: 250px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .containerHeader .arrowButtons button {
  width: 200px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .containerHeader .arrowButtons button .left {
  fill: #030303;
}
header .containerHeader .arrowButtons button .right {
  fill: #030303;
}
header .containerHeader .chairImage {
  float: right;
  width: 40%;
  height: 100%;
  margin-top: -450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .containerHeader .chairImage .image {
  width: 90%;
  height: auto;
  position: relative;
  -webkit-animation: fromRight;
          animation: fromRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes fromRight {
  0% {
    right: -400px;
  }
  100% {
    right: 0;
  }
}
@keyframes fromRight {
  0% {
    right: -400px;
  }
  100% {
    right: 0;
  }
}

.categories {
  background-color: #fdfdfd;
  padding-top: 70px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
}
.categories .containerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 70px;
}
.categories .hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  height: 50px;
  float: right;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  padding: 20px 0 0 0;
}
.categories .hide svg {
  margin-right: -5px;
}
.categories .hide:hover {
  border-bottom: 1px solid #030303;
}
.categories .containerItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.categories .containerItems a {
  text-decoration: none;
  color: #030303;
}
.categories .containerItems .item {
  width: 300px;
  height: 390px;
  background-color: #E5E9E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #030303;
  margin-bottom: 50px;
}
.categories .containerItems .item .img {
  width: 350px;
  padding: 10px;
}
.categories .containerItems .item h2 {
  padding: 20px;
}
.categories .containerItems .item img {
  width: 250px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
.categories .containerItems .item:hover {
  background-color: #f8d377;
  border: 2px solid #f8d377;
}
.categories .containerItems .item:hover::after {
  position: relative;
  border: 2px solid #030303;
  width: 250px;
  height: 440px;
  margin-top: -400px;
  margin-bottom: -45px;
  top: -11px;
  bottom: 10px;
  content: "";
}

.cover {
  width: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.cover .shape {
  width: 35%;
  height: 100%;
  border: 5px solid #030303;
  background-color: transparent;
  position: relative;
  z-index: 1;
  margin-left: 700px;
}
.cover .lorem {
  width: 450px;
  height: 350px;
  border: 1px solid #030303;
  padding: 100px;
  position: relative;
  z-index: 3;
  background-color: #fdfdfd;
  margin-left: -600px;
}
.cover .lorem article {
  font-size: 18px;
  font-weight: 500;
}
.cover .lorem h1 {
  margin-bottom: 30px;
}
.cover .lorem button {
  margin-top: 35px;
  background-color: #f8d377;
  padding: 15px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.cover img {
  border: 1px solid #030303;
  position: absolute;
  z-index: 2;
  inline-size: 65%;
  height: auto;
}

.cover2 {
  width: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.cover2 .shape2 {
  width: 45%;
  height: 100%;
  border: 5px solid #030303;
  background-color: transparent;
  position: relative;
  z-index: 1;
  right: -200px;
}
.cover2 .lorem2 {
  width: 450px;
  height: 350px;
  border: 1px solid #030303;
  padding: 100px;
  position: absolute;
  z-index: 3;
  background-color: #fdfdfd;
  margin-left: 80px;
}
.cover2 .lorem2 article {
  font-size: 18px;
  font-weight: 500;
}
.cover2 .lorem2 h1 {
  margin-bottom: 30px;
}
.cover2 .lorem2 button {
  margin-top: 35px;
  background-color: #f8d377;
  padding: 15px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.cover2 .imageCover2 {
  border: 1px solid #030303;
  position: relative;
  z-index: 2;
  inline-size: 65%;
  height: auto;
  float: right;
}

.bestsellers {
  padding-top: 100px;
  padding-bottom: 100px;
}
.bestsellers h1 {
  margin-bottom: 60px;
  margin-left: 100px;
}
.bestsellers .containerCardBestseller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bestsellers .containerCardBestseller .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
}
.bestsellers .containerCardBestseller .arrows svg {
  cursor: pointer;
}
.bestsellers .containerCardBestseller #containerItemsCarusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  overflow-y: auto;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
.bestsellers .containerCardBestseller #containerItemsCarusel::-webkit-scrollbar {
  display: none;
}
.bestsellers .containerCardBestseller .containerBestsellersItems {
  margin: 40px 100px;
}
.bestsellers .containerCardBestseller .containerBestsellersItems .imageAndPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  width: 300px;
  height: 500px;
  padding-top: 50px;
  border: 2px solid transparent;
}
.bestsellers .containerCardBestseller .containerBestsellersItems .imageAndPrice:hover {
  border: 2px solid #030303;
}
.bestsellers .containerCardBestseller .containerBestsellersItems .imageAndPrice svg {
  position: relative;
  z-index: 9;
  margin-bottom: -55px;
  margin-right: -280px;
  cursor: pointer;
}
.bestsellers .containerCardBestseller .containerBestsellersItems .imageAndPrice .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E5E9E8;
  width: 350px;
  height: 350px;
  position: relative;
  z-index: 3;
  margin-bottom: 20px;
}
.bestsellers .containerCardBestseller .containerBestsellersItems .imageAndPrice .imgContainer:hover {
  background-color: #f8d377;
}
.bestsellers .containerCardBestseller .containerBestsellersItems .imageAndPrice .imgContainer img {
  width: 80%;
  height: auto;
}
.bestsellers .containerCardBestseller .containerBestsellersItems h2 {
  margin-bottom: 15px;
}
.bestsellers .containerCardBestseller .containerBestsellersItems span {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}
.bestsellers .containerCardBestseller .containerBestsellersItems button {
  margin-bottom: 10px;
  border: 1px solid #030303;
  width: 90%;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
}
.bestsellers .containerCardBestseller .containerBestsellersItems button:hover {
  background-color: #f8d377;
  border: 1px solid transparent;
}

.sales {
  padding-top: 100px;
  padding-bottom: 100px;
}
.sales h1 {
  margin-bottom: 60px;
  margin-left: 100px;
}
.sales .containerCardSales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sales .containerCardSales .arrows2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
}
.sales .containerCardSales .arrows2 svg {
  cursor: pointer;
}
.sales .containerCardSales #containerItemsCaruselSales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  overflow-y: auto;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
.sales .containerCardSales #containerItemsCaruselSales::-webkit-scrollbar {
  display: none;
}
.sales .containerCardSales .containerBestsellersItems {
  margin: 40px 100px;
}
.sales .containerCardSales .containerBestsellersItems .imageAndPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  width: 300px;
  height: 500px;
  padding-top: 60px;
  border: 2px solid transparent;
}
.sales .containerCardSales .containerBestsellersItems .imageAndPrice:hover {
  border: 2px solid #030303;
}
.sales .containerCardSales .containerBestsellersItems .imageAndPrice svg {
  position: relative;
  z-index: 9;
  margin-bottom: -70px;
  margin-right: -320px;
  cursor: pointer;
}
.sales .containerCardSales .containerBestsellersItems .imageAndPrice .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E5E9E8;
  width: 400px;
  height: 400px;
  position: relative;
  z-index: 3;
  margin-bottom: 20px;
}
.sales .containerCardSales .containerBestsellersItems .imageAndPrice .imgContainer:hover {
  background-color: #f8d377;
}
.sales .containerCardSales .containerBestsellersItems .imageAndPrice .imgContainer img {
  width: 80%;
  height: auto;
}
.sales .containerCardSales .containerBestsellersItems h2 {
  margin-bottom: 15px;
}
.sales .containerCardSales .containerBestsellersItems span {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}
.sales .containerCardSales .containerBestsellersItems button {
  margin-bottom: 10px;
  border: 1px solid #030303;
  width: 90%;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
}
.sales .containerCardSales .containerBestsellersItems button:hover {
  background-color: #f8d377;
  border: 1px solid transparent;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #030303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: auto;
}
footer .logoContainer span {
  color: #fdfdfd;
  margin-top: 10px;
}
footer .ourProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: auto;
}
footer .ourProducts h2 {
  color: #fdfdfd;
  margin-bottom: 10px;
}
footer .ourProducts a {
  text-decoration: none;
  color: #fdfdfd;
  text-align: left;
  margin: 5px;
  font-size: 18px;
}
footer .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  margin-bottom: auto;
}
footer .socialIcons svg {
  color: #fdfdfd;
}