@import 'variables';
* {
    margin: 0;
    font-family: $myFont;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    background-color: $myColorWhite;
    .logoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            margin-top: 5px;
            font-weight: 500;
            font-size: 17px;
        }
    }
    .options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: $myColorBlack;
            &:hover {
                text-decoration: underline;
            }
        }
        form {
            margin-left: 15px;
            label {
                position: absolute;
                left: -99999px;
            }
            select {
                border: none;
                background-color: transparent;
                font-size: 16px;
                &:focus {
                    border: 1px solid $myColorBlack;
                }
            }
        }
    }
    .searchElement {
        background-color: transparent;
        width: 200px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: -150px;
        svg {
            margin-left: 10px;
        }
        label {
            position: absolute;
            left: -99999px;
        }
        input {
            border: none;
            background-color: transparent;
            padding: 5px;
            &::placeholder {
                font-size: 14px;
                color: $myColorBlack;
            }
        }
    }
    .languagesForm {
        label {
            position: absolute;
            left: -99999px;
        }
        select {
            border: none;
            background-color: transparent;
            font-size: 16px;
            &:focus {
                border: 1px solid $myColorBlack;
            }
        }
    }
}

.openDialog {
    margin: auto;
    width: 80%;
    height: 90%;
    border: none;
    border-radius: 2px;
    padding: 10px;
    background-color: $myColorWhite;
    position: absolute;
    z-index: 3;
    overflow-x: hidden;
    &::backdrop {
        background: rgb(0 0 0 / 0.7);
        opacity: 0.9;
    }
    .closeMod {
        float: left;
        position: fixed;
        margin-left: -50px;
        left: 1290px;
        top: 10px;
        z-index: 99;
        cursor: pointer;
        fill: $myColorWhite;
    }
    .containerObj {
        margin: 0 auto 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 95%;
        height: 300px;
        padding: 10px;
        background-color: aliceblue;
        border-radius: 3px;
        .containerImage {
            width: 40%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            background-color: rgb(243, 249, 253);
            .imageObj {
                width: auto;
                height: 95%;
            }
        }
        .containerDivText {
            width: 40%;
            height: 90%;
            margin-right: 90px;
            h2 {
                margin-bottom: 5px;
            }
            span {
                font-size: 17px;
                font-weight: 700;
                margin-top: 10px;
            }
            article {
                padding-top: 15px;
            }
            button {
                border: none;
                padding: 10px;
                width: 200px;
                background-color: $myColorYelow;
                margin-top: 20px;
                font-size: 17px;
                font-weight: 500;
                outline: none;
            }
        }
    }
}

.openDialogCart {
    margin: auto;
    width: 80%;
    height: 90%;
    border: none;
    border-radius: 2px;
    padding: 10px;
    background-color: $myColorWhite;
    position: absolute;
    z-index: 3;
    overflow-x: hidden;
    &::backdrop {
        background: rgb(0 0 0 / 0.7);
        opacity: 0.9;
    }
    .closeModCart {
        float: left;
        position: fixed;
        margin-left: -50px;
        left: 1290px;
        top: 10px;
        z-index: 99;
        cursor: pointer;
        fill: $myColorWhite;
    }
    .containerObjCart {
        margin: 0 auto 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 95%;
        height: 300px;
        padding: 10px;
        background-color: rgba(241, 148, 94, 0.37);
        border-radius: 3px;
        .containerImageCart {
            width: 35%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            background-color: rgb(243, 249, 253);
            .imageObjCart {
                width: auto;
                height: 95%;
            }
        }
        h2 {
            margin-bottom: 5px;
        }
        span {
            font-size: 17px;
            font-weight: 700;
            margin-top: 10px;
        }
        .deleteItem {
            border: none;
            padding: 10px;
            width: 200px;
            background-color: $myColorYelow;
            margin-top: 20px;
            font-size: 17px;
            font-weight: 500;
            outline: none;
        }
    }
}