@import 'variables';
* {
    margin: 0;
    font-family: $myFont;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: $myColorGrey;
    height: 100vh;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        background-color: $myColorGrey;
        .logoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                margin-top: 5px;
                font-weight: 500;
                font-size: 17px;
            }
        }
        .options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: $myColorBlack;
                &:hover {
                    text-decoration: underline;
                }
            }
            form {
                margin-left: 15px;
                label {
                    position: absolute;
                    left: -99999px;
                }
                select {
                    border: none;
                    background-color: transparent;
                    font-size: 16px;
                    &:focus {
                        border: 1px solid $myColorBlack;
                    }
                }
            }
        }
        .searchElement {
            background-color: transparent;
            width: 200px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: -150px;
            svg {
                margin-left: 10px;
            }
            label {
                position: absolute;
                left: -99999px;
            }
            input {
                border: none;
                background-color: transparent;
                padding: 5px;
                &::placeholder {
                    font-size: 14px;
                    color: $myColorBlack;
                }
            }
        }
        .languagesForm {
            label {
                position: absolute;
                left: -99999px;
            }
            select {
                border: none;
                background-color: transparent;
                font-size: 16px;
                &:focus {
                    border: 1px solid $myColorBlack;
                }
            }
        }
    }
    .containerHeader {
        margin: 0 auto;
        width: 85%;
        height: 85%;
        .socialIcons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            width: 30px;
            height: 50%;
            float: left;
            margin-top: -30px;
            position: relative;
            animation: leftIcons;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-direction: alternate;
            @keyframes leftIcons {
                0% {
                    left: -600px;
                }
                100% {
                    left: 0;
                }
            }
            svg {
                padding: 10px;
                width: "2em";
                height: "2em";
            }
        }
        .descriptionSection {
            margin-left: 250px;
            width: 50%;
            margin-top: 160px;
            position: relative;
            animation: fromLeft;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-direction: alternate;
            @keyframes fromLeft {
                0% {
                    left: -600px;
                }
                100% {
                    left: 0;
                }
            }
            h1 {
                font-size: 40px;
                margin-bottom: 30px;
                letter-spacing: 2px;
                font-weight: bold;
            }
            p {
                letter-spacing: 1px;
                font-size: 18px;
                font-weight: 100;
            }
            .exploreButton {
                margin-top: 20px;
                border: none;
                background-color: $myColorYelow;
                padding: 15px;
                width: 150px;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
            }
        }
        .arrowButtons {
            width: 100px;
            margin-left: 300px;
            margin-top: 150px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            button {
                width: 200px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                .left {
                    fill: $myColorBlack;
                }
                .right {
                    fill: $myColorBlack;
                }
            }
        }
        .chairImage {
            float: right;
            width: 50%;
            height: 100%;
            margin-top: -600px;
            display: flex;
            align-items: center;
            justify-content: center;
            .image {
                width: auto;
                height: 600px;
                position: relative;
                animation: fromRight;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }
            @keyframes fromRight {
                0% {
                    right: -400px;
                }
                100% {
                    right: 0;
                }
            }
        }
    }
}

.categories {
    background-color: $myColorWhite;
    padding-top: 100px;
    padding-bottom: 50px;
    .containerButton {
        //border: 1px solid rgb(51, 255, 0);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
        padding-bottom: 100px;
    }
    .hide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        height: 50px;
        float: right;
        border: 1px solid transparent;
        background-color: transparent;
        font-size: 18px;
        cursor: pointer;
        padding: 20px 0 0 0;
        svg {
            margin-right: -5px;
        }
        &:hover {
            border-bottom: 1px solid $myColorBlack;
        }
    }
    .containerItems {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: $myColorBlack;
        }
        .item {
            width: 350px;
            height: 400px;
            background-color: $myColorGrey;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid $myColorBlack;
            margin-bottom: 50px;
            .img {
                width: 400px;
                padding: 10px;
            }
            h2 {
                padding: 20px;
            }
            img {
                width: 250px;
                height: 300px;
                display: block;
                margin: 0 auto;
            }
            &:hover {
                background-color: $myColorYelow;
                border: 2px solid $myColorYelow;
            }
            &:hover::after {
                position: relative;
                border: 2px solid $myColorBlack;
                width: 300px;
                height: 440px;
                margin-top: -400px;
                margin-bottom: -45px;
                top: -11px;
                bottom: 10px;
                content: "";
            }
        }
    }
}

.cover {
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 50px;
    .shape {
        width: 35%;
        height: 95%;
        border: 5px solid $myColorBlack;
        background-color: transparent;
        position: relative;
        z-index: 1;
        margin-left: 800px;
    }
    .lorem {
        width: 500px;
        height: 350px;
        border: 1px solid $myColorBlack;
        padding: 100px;
        position: relative;
        z-index: 3;
        background-color: $myColorWhite;
        margin-left: -500px;
        article {
            font-size: 18px;
            font-weight: 500;
        }
        h1 {
            margin-bottom: 30px;
        }
        button {
            margin-top: 35px;
            background-color: $myColorYelow;
            padding: 15px;
            border: none;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }
    }
    img {
        border: 1px solid $myColorBlack;
        position: absolute;
        z-index: 2;
        inline-size: 60%;
        height: auto;
    }
}

.bestsellers {
    padding-top: 100px;
    padding-bottom: 100px;
    h1 {
        margin-bottom: 60px;
        margin-left: 100px;
    }
    .containerCardBestseller {
        display: flex;
        align-items: center;
        justify-content: center;
        .arrows {
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            svg {
                cursor: pointer;
            }
        }
        .containerItems {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 30px;
            overflow-y: auto;
        }
        .containerBestsellersItems {
            margin: 40px 100px;
            .imageAndPrice {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                position: relative;
                z-index: 1;
                width: 300px;
                height: 500px;
                padding-top: 60px;
                border: 2px solid transparent;
                &:hover {
                    border: 2px solid $myColorBlack;
                }
                svg {
                    position: relative;
                    z-index: 9;
                    margin-bottom: -70px;
                    margin-right: -320px;
                }
                .imgContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $myColorGrey;
                    width: 400px;
                    position: relative;
                    z-index: 3;
                    margin-bottom: 20px;
                    &:hover {
                        background-color: $myColorYelow;
                    }
                    img {
                        inline-size: 90%;
                    }
                }
            }
            h2 {
                margin-bottom: 15px;
            }
            span {
                margin-bottom: 15px;
                font-size: 25px;
                font-weight: 700;
            }
            button {
                margin-bottom: 10px;
                border: 1px solid $myColorBlack;
                width: 90%;
                padding: 10px;
                font-size: 18px;
                font-weight: 600;
                background-color: transparent;
                &:hover {
                    background-color: $myColorYelow;
                    border: 1px solid transparent;
                }
            }
        }
    }
}