// Variables
$myFont: 'Montserrat',
sans-serif;
$myColorWhite:#fdfdfd;
$myColorGrey:#E5E9E8;
$myColorYelow:#f8d377;
$myColorBlack:#030303;

/*************** END OF VARIABLES ******************/

* {
    margin: 0;
    font-family: $myFont;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: $myColorGrey;
    height: 100vh;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        background-color: $myColorGrey;
        .logoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                margin-top: 5px;
                font-weight: 500;
                font-size: 17px;
            }
        }
        .options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: $myColorBlack;
                &:hover {
                    text-decoration: underline;
                }
            }
            form {
                margin-left: 15px;
                label {
                    position: absolute;
                    left: -99999px;
                }
                select {
                    border: none;
                    background-color: transparent;
                    font-size: 16px;
                    &:focus {
                        border: 1px solid $myColorBlack;
                    }
                }
            }
        }
        .searchElement {
            background-color: transparent;
            width: 200px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: -150px;
            svg {
                margin-left: 10px;
            }
            label {
                position: absolute;
                left: -99999px;
            }
            input {
                border: none;
                background-color: transparent;
                padding: 5px;
                &::placeholder {
                    font-size: 14px;
                    color: $myColorBlack;
                }
            }
        }
        .languagesForm {
            label {
                position: absolute;
                left: -99999px;
            }
            select {
                border: none;
                background-color: transparent;
                font-size: 16px;
                &:focus {
                    border: 1px solid $myColorBlack;
                }
            }
        }
    }
    .containerHeader {
        margin: 0 auto;
        width: 85%;
        height: 85%;
        .socialIcons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            width: 30px;
            height: 50%;
            float: left;
            margin-top: -30px;
            position: relative;
            animation: leftIcons;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-direction: alternate;
            @keyframes leftIcons {
                0% {
                    left: -600px;
                }
                100% {
                    left: 0;
                }
            }
            svg {
                padding: 10px;
                width: "2em";
                height: "2em";
            }
        }
        .descriptionSection {
            margin-left: 250px;
            width: 50%;
            margin-top: 160px;
            position: relative;
            animation: fromLeft;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-direction: alternate;
            @keyframes fromLeft {
                0% {
                    left: -600px;
                }
                100% {
                    left: 0;
                }
            }
            h1 {
                font-size: 40px;
                margin-bottom: 30px;
                letter-spacing: 2px;
                font-weight: bold;
            }
            p {
                letter-spacing: 1px;
                font-size: 18px;
                font-weight: 100;
            }
            .exploreButton {
                margin-top: 20px;
                border: none;
                background-color: $myColorYelow;
                padding: 15px;
                width: 150px;
                font-size: 18px;
                font-weight: 600;
            }
        }
        .arrowButtons {
            width: 100px;
            margin-left: 300px;
            margin-top: 150px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            button {
                width: 200px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                .left {
                    fill: $myColorBlack;
                }
                .right {
                    fill: $myColorBlack;
                }
            }
        }
        .chairImage {
            float: right;
            width: 50%;
            height: 100%;
            margin-top: -600px;
            display: flex;
            align-items: center;
            justify-content: center;
            .image {
                width: auto;
                height: 600px;
                position: relative;
                animation: fromRight;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }
            @keyframes fromRight {
                0% {
                    right: -400px;
                }
                100% {
                    right: 0;
                }
            }
        }
    }
}